server:
  port: 8080

spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  datasource:
    url: jdbc:mysql://52.207.196.143:3306/appdb?useSSL=false&serverTimezone=UTC
    username: appuser
    password: Ravindra@712
    driver-class-name: com.mysql.cj.jdbc.Driver
