spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  datasource:
    url: jdbc:mysql://98.89.29.122:3306/appdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: ravindra
    password: Yashvi@712
    driver-class-name: com.mysql.cj.jdbc.Driver

app:
  message: "App running on Dev env"