spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  datasource:
    url: jdbc:mysql://${DB_HOST_1}:${DB_PORT_1}/${DB_NAME_1}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: ${DB_USER_1}
    password: ${DB_PASSWORD_1}
    driver-class-name: com.mysql.cj.jdbc.Driver

app:
  message: "App running on Production env"