server:
  port: 8080

spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  datasource:
    url: jdbc:mysql://skills.cazyyiiamrnq.us-east-1.rds.amazonaws.com:3306/skills?useSSL=false&serverTimezone=UTC
    username: admin
    password: Yashvi#712
    driver-class-name: com.mysql.cj.jdbc.Driver
